<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqu.cht.mapper.BaseMapper">
    <resultMap type="cn.edu.cqu.cht.model.Base" id="baseMap">
        <id property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
    </resultMap>

    <select id="selectById" resultMap="baseMap">
        select *
        from base
        where id = #{id}
    </select>

    <select id="selectByAccount" resultMap="baseMap">
        select *
        from base
        where account = #{account}
    </select>

    <select id="selectAllBase" resultMap="baseMap">
        select *
        from base
    </select>

    <insert id="insertBase">
        insert into base(id, account, password)
        values (#{id}, #{account}, #{password})
    </insert>

    <insert id="insertBase2" useGeneratedKeys="true" keyProperty="id">
        insert into base(account, password)
        values (#{account}, #{password})
    </insert>

    <update id="updateByAccount">
        update base
        set password = #{password}
        where account = #{account}
    </update>

    <delete id="deleteById">
        delete
        from base
        where id = #{id}
    </delete>
</mapper>
