<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.cqu.cht.mapper.CourierMapper">
    <resultMap type="cn.edu.cqu.cht.model.Courier" id="courierMap">
        <id property="courierId" column="courier_id"/>
        <result property="courierName" column="courier_name"/>
        <result property="courierPhone" column="courier_phone"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="area" column="area"/>
        <result property="picture" column="picture"/>
        <result property="stationId" column="station_id"/>
    </resultMap>


    <select id="selectAllCourier" resultType="cn.edu.cqu.cht.model.Courier">
        select *
        from courier
    </select>
    <select id="selectByCourierId" resultMap="courierMap">
        select *
        from courier
        where courier_id = #{courierId}
    </select>
    <select id="selectByCourierName" resultType="cn.edu.cqu.cht.model.Courier">
        select *
        from courier
        where courier_name = #{courierName}
    </select>
    <select id="selectCourier" resultType="cn.edu.cqu.cht.model.Courier">
        select *
        from courier
        where province = #{province}
          and city = #{city}
          and area = #{area}
          and station_id = 0
    </select>
    <select id="selectByStationId" resultType="cn.edu.cqu.cht.model.Courier">
        select *
        from courier
        where station_id = #{stationId}
    </select>
    <select id="findMyOrders" resultType="cn.edu.cqu.cht.model.Orderlist">
        select *
        from orderlist o
                 inner join courier_order co on co.order_id = o.order_id
                 inner join courier c on c.courier_id = co.courier_id
        where c.courier_id = #{courierId}
        order by o.time desc
    </select>
    <select id="findOrders" resultType="cn.edu.cqu.cht.model.Orderlist">
        select *
        from orderlist o
                 inner join station_order so on so.order_id = o.order_id
                 inner join station s on s.station_id = so.station_id
        where s.station_id = #{stationId}
          and (o.current_courier is null or o.current_courier = '')
          and o.current_station = #{stationName}
        order by o.time desc
    </select>

    <insert id="insertCourier">
        insert into Courier(courier_id, courier_name, courier_phone, province, city, area, picture, station_id)
        values (#{courierId}, #{courierName}, #{courierPhone}, #{province}, #{city}, #{area}, #{picture}, #{stationId})
    </insert>
    <insert id="insertCourier2" useGeneratedKeys="true" keyProperty="courierId">
        insert into Courier(courier_name, courier_phone, province, city, area, picture, station_id)
        values (#{courierName}, #{courierPhone}, #{province}, #{city}, #{area}, #{picture}, #{stationId})
    </insert>

    <update id="updateByCourierId">
        update courier
        set courier_name  = #{courierName},
            courier_phone = #{courierPhone},
            province      = #{province},
            city          = #{city},
            area          = #{area},
            station_id    = #{stationId}
        where courier_id = #{courierId}
    </update>

    <delete id="deleteByCourierId">
        delete
        from courier
        where courier_id = #{courierId}
    </delete>
</mapper>